html, body {
    height: 100%;
    background-color: beige;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    height: 550px;
    width: 500px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
}

.display {
    height: 100px;
    width: 475px;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 7px;
    border-radius: 7px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.displayText{
    margin-right: 20px;
    font-family: monospace;
    font-size: 40px;
}

.allButtons {
    display: flex;
    flex-direction: column;
    width: 425px;
    height: 420px;
    align-items:center;
    justify-content:center;
    
}

.row {
    width: 475px;
    height: 100px;
    display: flex;
   
}

.square {
    font-family: monospace;
    flex-grow: 1;
    border-radius: 7px;
    font-size: 25px;
    max-width: 25%;
}

.rectangle {
    font-family: monospace;
    flex-grow: 1;
    border-radius: 7px;
    font-size: 25px;
    max-width: 50%;
}

.clear {
    background-color: rgb(255, 163, 178);
    max-width: 75%;
}
.negative, .percent {
    background-color: rgb(255, 163, 178);
}

.divide, .multiply, .minus, .plus, .equals{
    background-color: rgb(250, 206, 124);
}

.num {
    background-color: lightskyblue;
}

.equals {
    background-color: rgb(248, 192, 89);
}




